.liveChat {
    position: fixed;
    right:15px;
    bottom: 70px;
    z-index: 995;
    background: var(--color-primary);
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
  
  
    i {
      font-size: 24px;
      color: var(--color-white);
      line-height: 0;
    }
  
    &:hover  {
      background: rgba(var(--color-secondary-light), .85);
      color: var(--color-white);
    }
  
  }